body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5em; 
    padding: 0;
}
#main{
    background-color:#dbf6ea;
    border-radius: 15px;
    border: 2px solid #e5f9f1;
    box-shadow: rgba(25, 59, 44, 0.6) 0 18px 20px;;
    display: block;
    width: 600px;
    height: auto;
    padding: 30px 100px;
    margin: 20px auto;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
} 

.input {
    background: transparent;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}
.div {
    display: flex;
    justify-content: space-between;
}
#list {
    padding: 30px;    
    text-align: left;
}

.btn {
    width: 245px;
    padding: 10px 45px;
    margin: 10px;
    font-size: 18px;
    color: #f0f8ff;
    background-color: #138480;
    border-color: #138480;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.btnRemove {
    width: auto;
    background-color: #5f6160;
    border-color: #5f6160;
}
.btn:hover,
.btn:focus {
    background-color: #035451;
    box-shadow: rgba(5, 86, 85, 0.458) 0 4px 12px;
}
.btnRemove:hover,
.btnRemove:focus {
    background-color: #262727;
    box-shadow: rgba(56, 57, 57, 0.458) 0 4px 12px;
}